{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="home">
<h2 style="position:relative;background-color: white;color: black; top: 230px; border: none; font-family: The Devil Net;">Contactez-nous</h2>
      <div class="row">
        <div class="col-sm-12 home__block1">
          
          <div class="home--square" style="margin-top:150px;">
            
            <div class="home--content">
              <div class="home--content-wrapper">
                  
                <div class="home--content-inner">
                  <div class="contact" style="color: white;
                                              border: 2px solid black;
                                              margin-top: 20px;
                                              
                                              background-color: black;" ></div>
                   
                  
                     <form class="form-style-9" style="color: white;
                                              border: 2px solid black;
                                              width: 100%;
                                              height: 350px;
                                              background-color: black;
                                              margin-top: -20px;
                                              display: block;
                                              float: left;">
                          
            <br>
            <br>
            <label style="margin-left: 100px; font-size: 20px;">Nom: </label>                  
            <input type="text" name="field1" class="field-style field-split align-left" placeholder="Nom" style="width: 300px; margin-left: 12px;"/>
            <label style="margin-left: 100px; font-size: 20px;">Prenom:</label>
             <input type="text" name="field1" class="field-style field-split align-left" placeholder="Prenom" style="width: 300px; margin-left: 10px;" /><br><br>
             <label style="margin-left: 100px; font-size: 20px;">Email:</label>
            <input type="email" name="field2" class="field-style field-split align-right" placeholder="Email" style="width: 300px; margin-left: 7px;"/>
            <label style="margin-left: 100px; font-size: 20px;">Telephone:</label>
             <input type="text" name="field1" class="field-style field-split align-left" placeholder="Telephone" style="width: 300px;"/><br><br>

  <label style="font-size: 20px; margin-left:-268px; margin-right: 10px;">Catégorie d'information:</label>
  <select style="width: 300px; font-size: 20px;">
    <option>Réclamation Commande</option>
    <option>Guide de taille et Réapprovisonnement</option>
    <option>SAV Livraison</option>
    <option>Devenir Distributeur</option>
    <option>Recrutements</option>
    <option>Sponsoring</option>
  </select><br><br>

<label style="font-size: 20px; margin-left:-625px; margin-right: 10px; ;">Votre Message:</label><br>

<textarea name="field5" class="field-style" placeholder="Message" style="width: 400px; margin-top: -27px;"></textarea>
<br>

<input type="submit" value="Send Message" style="width: 100px;"/>

</form>
                    </form>                  
                 
                   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
     
    
      

    </div>

{% endblock %}
